node_modules
dist
.git
.github
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
.vscode
.idea
*.swp
*.swo
.DS_Store
mobile
docs
scripts
test.ini
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
README.md
