# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
build/
out/
coverage/

# Logs
*.log

# Environment files
.env
.env.*

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Misc
*.min.js
*.min.css
